{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'authentication/css/register.css' %}">
{% endblock %}

{% block 'title' %}Entrar{% endblock %}

{% block 'body' %}
<main >
  <div class="center">
    <h2 class="form-title">Elo<strong>Farma</strong></h2>
    <h5 class="form-description">Entre com sua conta</h5>  
      <form action="{% url 'login' %}" method="POST">{% csrf_token %}
        
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
        <br>
        {% endfor %}
        {% endif %}
        <div class="inputs">
          <label for="username" class="label">usuario</label>
          <input name="username" id="username" class="input-register name" type="text" placeholder="Digite seu usuario">
          <br>
        </div>
        <div class="inputs">
          <label for="password" class="label">senha</label>
          <input name="password" class="input-register" type="password" placeholder="Digite sua senha">
          <br>
        </div>
        <input class="input-button" type="submit" value="Entrar">
      </form>
      <br>
      <p class="mt-2">Ainda não tem uma conta? <a href={% url 'register' %}>Crie uma</a></p>
  </div>
</main>
{% endblock %}
