{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'authentication/css/register.css' %}">
{% endblock %}
{% block 'title' %}Criar conta{% endblock %}
{% block 'body' %}
  <main >
    <div class="center">
      <h2 class="form-title">Elo<strong>Farma</strong></h2>
      <h5 class="form-description">Crie sua conta</h5>
      <form action="{% url 'register' %}" method="POST">{% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}!
            </div>
            <br>
          {% endfor %}
        {% endif %}
        <div class="inputs">
          <label for="email" class="label">usuário</label>
          <input name="username" class="input-register name" type="text" placeholder="Digite seu usuário">
          <br>
        </div>
        <div class="inputs">
          <label for="email" class="label">email</label>
          <input name="email" class="input-register" type="email" placeholder="Digite seu email">
          <br>
        </div>
        <div class="inputs">
          <label for="password" class="label">senha</label>
          <input name="password" class="input-register" type="password" placeholder="Digite sua senha">
          <br>
        </div>        
        <input class="input-button" type="submit" value="Criar conta">
      </form>
      <br>
      <p class="mt-2">Já tem uma conta? <a href={% url 'login' %}>Entre</a></p>
    </div>
  </main>
{% endblock %}