* {
  box-sizing: border-box;
}

html {
  zoom: 90%;
}

:root {
  --clr-primary: #FDA14A;
  --clr-foreground: #040F0F;
  --clr-secondary: #1C110A;
  --clr-bright: #57737A;
}

body {
  background-color: var(--clr-background);
  color: white;

}

main {
  background: url('https://unsplash.com/photos/QsBfOwMoPNY/download?force=true&w=1920');
  object-fit: cover;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: sticky;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  width: 85vw;
}

input {
  border-radius: 4px;
  padding: 2px;
  border: 1px solid var(--clr-primary);
  margin-bottom: 4px;
  width: 70vw;
  height: 40px;
}
.input-button {
  transition: all ease 600ms;
}
.input-button:hover {
  background-color: var(--clr-primary);
  color: white;
  font-weight: bold;
  border: none;
}

.label {
  color: var(--clr-foreground);
}

.inputs {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-top: 20px;
  font-weight: 900;
}

.form-title, .form-description {
  margin: 0 auto;
  margin-bottom: 20px;
}

h5 {
  font-size: 1rem;
}

p, input, label {
  font-size: 0.8rem !important;
}

p > a {
  color: var(--clr-primary);

}

p > a:hover {
  color: var(--clr-bright);
}


.form-title > strong {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--clr-primary);
  cursor: pointer;
  text-decoration-thickness: 5px;
}

@media only screen and (max-width: 800px) {
  form {
    max-width: 80vw;
  }
}
@media only screen and (min-width: 600px) {
  .center {
    width: 550px;
  }
}


@media only screen and (min-width: 600px) {
  input {
    width: 400px;
  }
}