{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'plataform/css/home.css' %}">
{% endblock %}
{% block 'body' %}
  <!-- <header class="masthead bg-dark text-white text-center">
    <h1 class="display-1">EloFarma</h1>
    <p></p>
  </header> -->
  <header class="header">
    <h2 class="form-title">Elo<strong>Farma</strong></h2>
    <p>sinônimo de economia e qualidade. Agora mais pertinho de você!
</p>
  </header>
  <main>    
    <div class="center container-md">

      <h2>O remedio que voce procura</h2>

      <form class="search" role="search">
        <input class="input-search" type="search" id="q" name="q" placeholder="Search" aria-label="Search">
        <button class="button" type="submit">Search</button>
      </form>

      <div class="grid">
      {% for pill in medicines %}
      <div class="pill">
        <img src="{{ pill.image.url }}" class="card-img-top" alt="{{ pill.image }}">
        <div class="pill-body">
          <h4>{{ pill.name }}</h4>
          <p class="pill-text"><strike>R$ {{pill.price|add:5 }}</strike> <b>R$ {{pill.price}}</b></p>
        </div>
        <button class="button-buy" onclick="location.href='{% url 'cart_add' pill.id %}'" >Adicionar ao Carrinho</button>
      </div>
      {% endfor %}
      </div>
      <br>
    </div>
      <div class="text-middle"><p>Ei, você aí no celular, já baixou o nosso aplicativo?<br>
      Você pode consultar preços, fazer pedidos e ainda falar com o nosso serviço de atendimento ao consumidor.<br> Não perca mais tempo, na sua primeira compra a entrega é gratuita</p></div>

    <div class="center container">
      <h2 class="display-5">Veja a opiniao dos clientes</h2>
      <div class="reviews">
        <div class="review">
        <img src="https://github.com/farnetani.png" class="card-img-top" alt="x"/>
        <div class="review-body">
          <h4>Farnetani</h4>
          <p class="review-text">Com estacionamento próprio  e uma gama enorme de medicamentos com funcionários educados.</p>
        </div><!-- review-body -->
        </div>

        <div class="review">
          <img src="https://lh3.googleusercontent.com/a-/AOh14GhOjxxAlbNwmfLyfrYgz6Ye7r0ve4uY8CdJjXO9-w=s200-c0x00000000-cc-rp-ba4" class="card-img-top" alt="x"/>
          <div class="review-body">
            <h3>Juliana Machado</h3>
            <p class="review-text">Sempre apresentam produtos de qualidade, atendimento impecável e preço razoável.</p>
          </div><!-- review-body -->
        </div>

        <div class="review">
          <img src="https://lh3.googleusercontent.com/a-/AOh14GhjzjaS7a1ozxmxp5otrV0vNTq9byalfBmoRaTBjnk=s200-c0x00000000-cc-rp-ba4" class="card-img-top" alt="x"/>
          <div class="review-body">
            <h3>Augusto Teruel</h3>
            <p class="review-text">"Bons produtos e equipe muito simpática, sempre fui e sou muito bem tratado."</p>
          </div><!-- review-body -->
        </div>     

        <div class="review">
          <img src="https://lh3.googleusercontent.com/a-/AOh14GjqN-3j8RRTld5cE5ruAEgOVMmvBYojU3ufqnM6=s200-c0x00000000-cc-rp" class="card-img-top" alt="x"/>
          <div class="review-body">
            <h3>Rapha Breviário</h3>
            <p class="review-text">"Os preços são bem acessíveis, com parcelamento em até 6x no cartão."</p>
          </div><!-- review-body -->
        </div>    
      </div><!-- reviews -->

      <div class="feedback mt-5">
        <h2>Deixe seu feedback!</h2>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comentarios</label>
          <button class="btn btn-outline-warning mt-2 mb-5">Enviar Feedback</button>
        </div>        
      </div>

    </div>
  </main>
{% endblock %}