{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'plataform/css/product.css' %}">
{% endblock %}

{% block 'title' %}
  {{product}}
{% endblock %}

{% block 'body' %}
<div class="backg">
</div>
<div class="product">

    <div class="images">
    {% for img in product.images.all %}
    <img src="{{img}}" />
    {% endfor %}
    </div>

    <div>
    <h1>{{product.name}}</h1>
    <p class="pill-text"><strike>R$ {{product.price|add:5 }}</strike> <b>R$ {{product.price}}</b></p>
    <p class="category">{{product.category }}</p>
    <p>{{product.description}}</p>
      {% for suggestion in suggestions %}
      <div>
      <a href="{% url 'product' suggestion.id %}">
        <img src="{{suggestion.images.all.0.img.url}}" />
        <h3>{{suggestion.name}}</h3>
        <p>{{suggestion.price}}</p>
      </div>
      </a>
    {% endfor %}
    </div>

</div>
{% endblock %}
