* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", 'monospace;', sans-serif;
}

:root {
  --clr-primary: #FDA14A;
  --clr-background: #FAFAFA;
  --clr-foreground: #6c757d;
  --clr-secondary: #1C110A;
  --clr-bright: #57737A;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-foreground);
}

nav > div > a > strong {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--clr-primary);
  cursor: pointer;
  text-decoration-thickness: 5px;
}

footer {
  background-color: white;
  border-top: 1px solid var(--clr-bright);
  height: 80px;
  padding: 1.5rem;  
  display: flex;
  justify-content: center;
}


a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  color: var(--clr-bright);
}